---
import { SchemaProps } from "@lib/schema";
import { Website } from "@lib/meta";

import OpenGraphData from "@layouts-components/meta/OpenGraphData.astro";
import TwitterCard from "@layouts-components/meta/TwitterCards.astro";

export interface Props extends SchemaProps {
  title: string;
  meta: Website;
}

const { title, meta, schemaType, schema } = Astro.props;
---

<title data-pagefind-meta="title">{title}</title>
<link rel="sitemap" href="/sitemap-0.xml" />
<meta name="generator" content={Astro.generator} />
<!-- Google, Facebook, Twitter -->
{schemaType && schema && <script type="application/ld+json" set:html={JSON.stringify(schemaType.parse(schema))} />}
<OpenGraphData title={title} siteName={meta.name} image={meta.image} keywords={meta.keywords} />
<TwitterCard title={title} twitterId={meta.twitterId} image={meta.image} alt={meta.imageAlt} />
<!-- Optional -->
<meta name="description" content={meta.description} />
<meta name="author" content={meta.author} />
<link rel="canonical" href={meta.url} />
<meta name="apple-mobile-web-app-title" content={meta.name} />
<meta name="thumbnail" content={meta.image} />

