---
import { getLangaugeLabel } from "@lib/meta";
import { dateToString, PostDetail } from "@lib/meta";

import qs from "qs";

export interface Props {
  frontmatter: PostDetail;
}

const { frontmatter } = Astro.props;
---

<header post-header>
  <h1 id={frontmatter.title}>{frontmatter.title}</h1>

  <section tag-list>
    {
      frontmatter.tags.map((tag) => (
        <a data-pagefind-filter="tag" href={`/blog?${qs.stringify({ tag: [tag] })}`}>
          {tag}
        </a>
      ))
    }
  </section>

  <section post-detail>
    <p data-pagefind-filter="lang">{getLangaugeLabel(frontmatter.lang)}</p>
    {
      frontmatter.published_at && (
        <time
          published-at
          data-pagefind-meta="publishedAt"
          data-pagefind-sort="publishedAt"
          datetime={String(frontmatter.published_at)}
        >
          {dateToString(frontmatter.published_at)}
        </time>
      )
    }
    {
      frontmatter.updated_at && (
        <time
          updated-at
          data-pagefind-meta="updatedAt"
          data-pagefind-sort="updatedAt"
          datetime={String(frontmatter.updated_at)}
        >
          {dateToString(frontmatter.updated_at)}
        </time>
      )
    }
  </section>
</header>

<style lang="stylus">
  @import "../../../styles/api.styl"

  header[post-header]
    margin 3rem 0

    h1
      margin 3rem 0
      sans(3rem)
      text-align center

    section[tag-list]
      flex(_gap: 1rem)
      flex-wrap wrap
      justify-content center
      sans(1.5rem)

    section[post-detail]
      flex(_gap: 1rem)
      justify-content center
      p, time
        sans(1.2rem)
</style>
