---
import { getLangaugeLabel } from "@lib/locale";

export interface Props {
  frontmatter: any;
}

const { frontmatter, ...props } = Astro.props;
---

<section post-info>
  <h1 id={frontmatter.title}>{frontmatter.title}</h1>
  <div tag-list>{frontmatter.tags.map((tag) => <a href={`/blog?tag=${tag}`} tag-item>{tag}</a>)}</div>
  {
    frontmatter.published && (
      <div modified-dates>
        <p title="Language">{getLangaugeLabel(frontmatter.lang)}</p>
        <p title="Published date">{frontmatter.published_at || "Hidden post"}</p>
        <p title="Updated date">{frontmatter.updated_at || "Not updated"}</p>
      </div>
    )
  }
</section>
