---
import { PostDetail } from "@lib/meta";

import FloatingButton from "./FloatingButton.svelte";

import Pocket from "@components/share/Pocket.astro";
import Twitter from "@components/share/Twitter.astro";
import Bluesky from "@components/share/Bluesky.astro";
import Reddit from "@components/share/Reddit.astro";
import Hatena from "@components/share/Hatena.astro";
import Mastodon from "@components/share/Mastodon.astro";

import Headings from "@layouts-components/blog/Headings.svelte";
import LinkButton from "@layouts-components/blog/LinkButton.astro";

export interface Props {
  frontmatter: PostDetail;
  headings: { depth: number; slug: string; text: string }[];
  indentSize?: string;
  repositoryURL?: string;
  branchName?: string;
}

const {
  frontmatter,
  headings,
  indentSize = "8px",
  repositoryURL = "https://github.com/7rs/pages",
  branchName = "main",
  ...props
} = Astro.props;

headings.unshift({ depth: 1, slug: frontmatter.title, text: frontmatter.title || "" });

const url = Astro.site + Astro.url.pathname.slice(1);
const ext = frontmatter.file?.slice(frontmatter.file.lastIndexOf(".")) || ".md";
---

<FloatingButton modalId="sidebar" client:only />
<aside id="sidebar" {...props}>
  <section share-buttons>
    <Reddit title={frontmatter.title} url={url} />
    <Twitter text={frontmatter.title} hashtags={frontmatter.tags} url={url} />
    <Mastodon text={frontmatter.title} url={url} />
    <Bluesky text={`${frontmatter.title}`} url={url} />
    <Pocket url={url} />
    <Hatena url={url} />
  </section>
  <section heading-list>
    <Headings modalId="sidebar" headings={headings} indentWidth="0.5rem" client:only />
  </section>
  <section action-buttons>
    <LinkButton title="Submit an issue" href="https://github.com/7rs/pages/issues/new/choose">Issue</LinkButton>
    <LinkButton
      title="View source codes"
      href={frontmatter.url != null
        ? `${repositoryURL}/blob/${branchName}${frontmatter.url}${ext}?plain=1`
        : "https://github.com/7rs/pages"}
    >
      Source Code
    </LinkButton>
  </section>
</aside>

<style lang="stylus" is:global>
  @import "../../../styles/api.styl"

  aside
    display none

    &.show
      z-index 2
      position fixed
      display grid
      background-color white

    grid-template-rows auto 1fr auto
    row-gap 1rem

    @media screen and (min-width widths.large)
      position static
      display grid

    section[share-buttons]
      overflow-x auto
      padding 0.25rem 0.25rem 1rem
      flex()
      justify-content space-between
      scrollbar()

      [link-icon]
        font-size 1.25rem
        @media screen and (min-width widths.largest)
          font-size 1.5rem

        &:hover
          transition all 100ms ease-out
          transform scale(125%)

          [data-icon="simple-icons:reddit"]
            color #FF4500
          [data-icon="simple-icons:mastodon"]
            color #6364FF
          [data-icon="simple-icons:bluesky"]
            color #0285FF
          [data-icon="simple-icons:pocket"]
            color #EF3F56
          [data-icon="simple-icons:hatenabookmark"]
            color #00A4DE

    section[heading-list]
      overflow clip auto
      height 100%
      flex(column, 0.25rem)
      scrollbar()

      a
        padding-top 0.5rem
        padding-right 0.5rem
        padding-bottom 0.5rem
        text-decoration none
        sans(1rem)

    section[action-buttons]
      flex(_gap: 1rem)
      justify-content space-between
</style>
