---
import { createLang, createLicense } from "@lib/repository";
import LabeledIcon from "@components/LabeledIcon.astro";

export interface Props {
  userId: string;
  repository: string;
  icon: string;
  lang: string;
  license: string;
  name?: string;
}

const { userId, repository, icon, lang, license, name = "", ...props } = Astro.props;

const repositoryURL = `https://github.com/${userId}/${repository}`;
const langInfo = createLang(lang);
const licenseInfo = createLicense(license);
---

<article {...props} repository-box={name}>
  <a href={repositoryURL} target="_blank" rel="noopener noreferrer" repo-info={name}>
    <LabeledIcon icon={icon} description="Icon for repository" openInNewTab label={repository} name="repo" />
    <p><slot /></p>
  </a>
  {
    langInfo != null ? (
      langInfo.icon ? (
        <LabeledIcon
          icon={langInfo.icon}
          description={langInfo.description}
          href={langInfo.url}
          openInNewTab
          label={langInfo.name}
          name="lang"
        />
      ) : (
        <div />
      )
    ) : (
      <div />
    )
  }
  <LabeledIcon
    icon={licenseInfo.icon ? licenseInfo.icon : "octicon:law-16"}
    description={licenseInfo.description}
    href={licenseInfo.url}
    openInNewTab
    label={licenseInfo.name}
    name="license"
  />
</article>

<style lang="stylus">
  @import "../../styles/api.styl"

  [repository-box]
    padding 1rem
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows 7rem 2rem
    grid-template-areas \
      "info info   " \
      "lang license"
    gap 0.5rem 0
    border-radius 1rem
    background colors.widget
    @media (prefers-color-scheme dark)
      background colors.dark.widget
    hoverable-background(colors.widget-hovered, colors.dark.widget-hovered, 0.2)

  [repo-info]
    grid-area info
    p
      margin 0.5rem 0

  a, a:hover
    text-decoration none

  [labeled-icon]
    [data-icon], p
      font-size 1.1rem
      line-height 1.25rem
      padding 0.1rem
    [data-icon]
      margin auto 0

  [labeled-icon="lang"]
    grid-area lang
  
  [labeled-icon="license"]
    grid-area license

</style>
