---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

import Repository from "@components/Repository.astro";
import Profile from "@components/Profile.astro";
import Post from "@components/Post.astro";

import gear from "@assets/repo-icons/gear.svg";
import tools from "@assets/repo-icons/tools.svg";
import fileDirectory from "@assets/repo-icons/file-directory.svg";
import packageIcon from "@assets/repo-icons/package.svg";
import mortarBoard from "@assets/repo-icons/mortar-board.svg";
import typography from "@assets/repo-icons/typography.svg";

const posts = await getCollection("blog");
---

<Layout title="Main Page">
  <Profile />
  <section class="repositories">
    <Repository url="https://github.com/7rs/pages" src={gear.src} license="WTFPL" lang="astro">
      Fast and simple design website.
    </Repository>
    <Repository url="https://github.com/7rs/parfait" src={tools.src} lang="lua">A fork of SM64 Lua Redux.</Repository>
    <Repository url="https://github.com/7rs/sm64tas" src={fileDirectory.src} license="WTFPL">
      An archive for publication and storage TASing files.
    </Repository>
    <Repository url="https://github.com/7rs/line4py" src={packageIcon.src} license="WTFPL" lang="python">
      An closed LINE API for Python.
    </Repository>
    <Repository url="https://github.com/7rs/line" src={mortarBoard.src} license="WTFPL" lang="thrift">
      A repository for collection closed LINE api information and publishing thrift files.
    </Repository>
    <Repository url="https://github.com/7rs/legible-fonts" src={typography.src} license="OFL v1.1" lang="python">
      A Legible monospace fonts for engineers.
    </Repository>
  </section>
  <section class="posts">
    {
      posts.map(post => {
        if (!post.slug.startsWith("_") && post.slug.indexOf("/") === -1) {
          "en/" + post.id.substring(0, post.id.length - 3);
          return <Post slug={post.slug} title={post.data.title} />
        }
      })
    }
  </section>
</Layout>

<style lang="stylus">
  @import "../styles/api.styl"

  .repositories
    margin 3rem auto
    display grid
    gap 1rem
    justify-content center
    @media screen and (min-width widths.medium)
      grid-template-columns repeat(2, 1fr)
      width 30rem
      gap 1rem
    @media screen and (min-width widths.large)
      grid-template-columns repeat(3, 1fr)
      width 45rem

  .posts
    display flex
    gap 1rem
    flex-direction column
</style>
