---
export interface Props {
  classes?: string;
  src: string;
  href?: string;
  title?: string;
  blank?: boolean;
}
const {
  classes = "icon",
  src,
  href = "/",
  title = "unknown",
  blank = false,
} = Astro.props;

const iconURL = `url(${src})`
---

{
  blank ?
    <a class={classes}
       href={href}
       title={title}
       target="_blank"
       rel="noopener noreferrer"></a>
  :
  <a class={classes}
     href={href}
     title={title}></a>
}
<style lang="stylus" define:vars={{iconURL}}>
  a
    mask-image mask-image var(--iconURL)
    -webkit-mask-image var(--iconURL)
</style>
