---
import python from "@assets/lang-icons/python.svg";
import go from "@assets/lang-icons/go.svg";
import rust from "@assets/lang-icons/rust.svg";
import lua from "@assets/lang-icons/lua.svg";
import thrift from "@assets/lang-icons/apache.svg";
import astro from "@assets/lang-icons/astro.svg";
import licenseIcon from "@assets/law.svg";

export interface Props {
  url: string;
  src: string;
  license?: string;
  lang?: string;
}

const { url, src, license = "Unknown", lang = "Unknown" } = Astro.props;
const urls = url.split("/");
const userid = urls[3];
const repo = urls[4];

const licenseIconURL = `url(${licenseIcon.src})`;
const repositoryIconURL = `url(${src})`;

let langIcon = "";
switch (lang) {
  case "python":
  case "python3":
  case "py":
    langIcon = python.src;
    break;
  case "go":
  case "golang":
    langIcon = go.src;
    break;
  case "rust":
    langIcon = rust.src;
    break;
  case "astro":
    langIcon = astro.src;
  case "lua":
    langIcon = lua.src;
    break;
  case "thrift":
  case "apache thrift":
    langIcon = thrift.src;
    break;
  default:
    break;
}

let langIconURL = "";
if (langIcon) {
  langIconURL = `url(${langIcon})`;
}
---

<a href={url} target="_blank" rel="noopener noreferrer">
  <article class="repository">
    <div class="repository-icon"></div>
    <h1 class="repository-name">{repo}</h1>
    <p class="description"><slot /></p>
    <div class="license-icon"></div>
    {langIcon ? <div class="lang-icon" /> : <div class="lang-icon lang-circle" />}
    <p class="license">{license}</p>
    <p class="language">{lang}</p>
  </article>
</a>

<style lang="stylus" define:vars={{langIconURL, licenseIconURL, repositoryIconURL}}>
  @import "../styles/api.styl"

  name-height = 2rem
  info-height = 1.5rem

  padding = {
    small: 1rem,
    medium: 1.25rem,
  }
  card-size = {
    width: 14.5rem
  }

  a
    text-decoration none

  .repository
    width card-size.width
    height 10rem
    padding padding.small
    border-radius 1rem
    // For dark mode
    background colors.widget
    @media (prefers-color-scheme dark)
      background colors.dark.widget
    // For responsive
    display grid
    grid-template-columns 1fr 4fr 1fr 4fr
    grid-template-rows name-height 2fr info-height
    grid-template-areas \
      "icon         name    name      name" \
      "desc         desc    desc      desc" \
      "license-icon license lang-icon lang"
    align-items center
    gap 0.5rem 0.25rem
    @media screen and (min-width widths.medium)
      padding padding.medium

    &:hover
      background rgba(colors.widget-hovered, 0.2)
      @media (prefers-color-scheme dark)
        background rgba(colors.dark.widget-hovered, 0.2)

    .repository-icon
      margin auto
      grid-area icon
      mask-image var(--repositoryIconURL)
      -webkit-mask-image var(--repositoryIconURL)

    .repository-name
      grid-area name
      sans(info-height, name-height)

    .license-icon
      grid-area license-icon
      mask-image var(--licenseIconURL)
      -webkit-mask-image var(--licenseIconURL)

    .license
      grid-area license
    
    .language
      grid-area lang

    .description
      grid-area desc
      align-self start

    .lang-icon
      grid-area lang-icon
      mask-image var(--langIconURL)
      -webkit-mask-image var(--langIconURL)

  .lang-circle
    width 1rem
    height 1rem
    background colors.icon
    @media (prefers-color-scheme dark)
      background colors.dark.icon
    border-radius 100%

  .license-icon, .repository-icon, .lang-icon
    width 1rem
    height 1rem
    background colors.icon
    @media (prefers-color-scheme dark)
      background colors.dark.icon
</style>
