---
export interface Props {
  label: string;
  url: string;
  description: string;
  openInNewTab?: boolean;
}

const { label, url, description, openInNewTab = false } = Astro.props;
---

{
  openInNewTab ? (
    <a href={url} title={description} target="_blank" rel="noopener noreferrer">
      {label}
    </a>
  ) : (
    <a href={url} title={description}>
      {label}
    </a>
  )
}

<style lang="stylus">
  @import "../../styles/api.styl"

  a
    sans(1.25rem, 1.5rem)
    text-decoration none
    hoverable(colors.link)
</style>
