---
import { Icon } from "astro-icon/components";
import { createSocial } from "@lib/social";
import { Code } from "astro:components";

export interface Props {
  alias: string;
  userId: string;
  openInNewTab?: boolean;
  name?: string;
}

const { alias, userId, openInNewTab = false, name = "", ...props } = Astro.props;

const social = createSocial(alias, userId);
---

<a
  href={social.url}
  title={social.description}
  target={openInNewTab ? "_blank" : null}
  rel={openInNewTab ? "noopener noreferrer" : null}
  {...props}
  social-icon={name}
>
  <Icon name={social.iconName} title={social.description} {...props} />
</a>

<style lang="stylus">
  @import "../../styles/api.styl"

  a
    width sizes.icon
    height sizes.icon
    @media screen and (min-width widths.large)
      width sizes.large.icon
      height sizes.large.icon

  [data-icon]
    hoverable(colors.content, colors.dark.content)
    font-size sizes.icon
    @media screen and (min-width widths.large)
      font-size sizes.large.icon
</style>
