---
import qs from "qs";

export interface Props {
  key: string;
  filterList?: string[];
  prefix?: string;
  title?: string;
  href?: string;
}

import Link from "@components/colorless/Link.astro";

const { filterList = [], title = "filter", prefix = "", key, href = "blog", ...props } = Astro.props;
---

<div data-link-filters={title} {...props}>
  {
    filterList.map((filterItem) => (
      <Link
        title={`${title}: ${filterItem}`}
        href={`/${href}?${qs.stringify({ [key]: [filterItem] })}`}
        {...props}
      >
        {prefix}<span data-pagefind-weight="6" data-pagefind-filter={key} {...props}>{filterItem}</span>
      </Link>
    ))
  }
</div>

<style lang="stylus">
  @import "../../styles/api.styl"

  [data-link-filters]
    flex(_gap: 1rem)
    flex-wrap wrap
    justify-content center
</style>
