---
import { Frontmatter, getLangaugeLabel } from "@lib/meta";
import qs from "qs";

import { Icon } from "astro-icon/components";

import Link from "@components/colorless/Link.astro";
import Datetime from "@components/colorless/Datetime.astro";

export interface Props {
  post: Frontmatter;
  url: string;
}

const { post, url, ...props } = Astro.props;
---

<article {...props} data-post>
  <h3 data-post-title><Link href={url}>{post.title}</Link></h3>
  <div data-post-authors>
    {post.authors?.map((author) => <Link href={`/blog?${qs.stringify({ author: [author] })}`}>@{author}</Link>)}
  </div>
  <div data-post-tags>
    {post.tags?.map((tag) => <Link href={`/blog?${qs.stringify({ tag: [tag] })}`}>#{tag}</Link>)}
  </div>
  <div data-post-detail-list>
    <div data-post-detail-item>
      <Icon name="material-symbols:upload-sharp" />
      <Datetime datetime={post.published_at} title="Published at" />
    </div>
    <div data-post-detail-item>
      <Icon name="material-symbols:update" />
      <Datetime datetime={post.updated_at} title="Updated at" />
    </div>
    <div data-post-detail-item>
      <Icon name="mdi:language" />
      <p data-post-language>{getLangaugeLabel(post.lang)}</p>
    </div>
  </div>
</article>

<style lang="stylus">
  @import "../../styles/api.styl"

  [data-post]
    @extend $hoverable-widget-glassmorphism
    padding 1rem
    flex(column)

  [data-post-title]
    set-font("sans", "label", "auto")
    &:hover
      text-decoration underline

  [data-post-authors], [data-post-tags], [data-datetime], [data-post-language], [data-post-detail-item]
    set-font("sans", "normal", "auto")

  [data-post-authors], [data-post-tags]
    flex(_gap: 0.5rem)

  [data-post-authors] > [data-link]:hover
    color rgb(160, 0, 0)

  [data-post-tags] > [data-link]:hover
    color rgb(51, 122, 183)

  [data-post-detail-list]
    flex(column, justify-content: flex-start)
    @media screen and (min-width widths.medium)
      flex(justify-content: space-around)

  [data-post-detail-item]
    align-items center
    flex(_gap: 0.5rem, justify-content: flex-start)
    @media screen and (min-width widths.medium)
      flex(_gap: 0.5rem, justify-content: center)

    &:hover
      color rgb(255, 136, 0)

  [data-icon]
    display block
    height 100%
    set-font(size: "normal", line-height: "auto")
</style>
