---
import { getLangaugeLabel } from "@lib/meta";
import Datetime from "@components/Datetime.astro";
import LabeledIcon from "@components/LabeledIcon.astro";

import LinkFilters from "@components/blog/LinkFilters.astro";

export interface Props {
  title: string;
  tags?: string[];
  authors?: string[];
  lang?: string;
  publishedAt?: Date;
  updatedAt?: Date;
}

const { title, tags = [], authors = [], lang = "ja", publishedAt, updatedAt } = Astro.props;
---

<header data-post-header>
  <h1 data-post-title id={title}>{title}</h1>
  <!-- Filters -->
  <LinkFilters key="author" filterList={authors} title="author" prefix="@" />
  <LinkFilters key="tag" filterList={tags} title="tag" prefix="#" />
  <!-- Details -->
  <LabeledIcon icon="mdi:language" name="lang">
    <p data-pagefind-filter="lang">{getLangaugeLabel(lang)}</p>
  </LabeledIcon>
  <LabeledIcon icon="material-symbols:upload-sharp" name="published-date">
    <Datetime
      datetime={publishedAt}
      title="Published date"
      data-pagefind-meta="publishedAt"
      data-pagefind-sort="publishedAt"
    />
  </LabeledIcon>
  <LabeledIcon icon="material-symbols:update" name="updated-date">
    <Datetime datetime={updatedAt} title="Updated date" data-pagefind-meta="updatedAt" data-pagefind-sort="updatedAt" />
  </LabeledIcon>
</header>

<style lang="stylus">
  @import "../../styles/api.styl"

  [data-post-header]
    box-sizing border-box
    margin 3rem 0

    display grid
    row-gap 1rem
    justify-items center

    grid-template-columns repeat(2, 1fr)
    grid-template-areas \
      "title          title" \
      "tags           tags " \
      "authors        authors" \
      "lang           lang" \
      "published-date updated-date";
    @media screen and (min-width widths.medium)
      grid-template-columns repeat(3, 1fr)
      grid-template-areas \
        "title   title          title       " \
        "tags    tags           tags        " \
        "authors authors        authors     " \
        "lang    published-date updated-date";

    [data-post-title]
      grid-area title
      margin 0
      text-align center

      sans(2rem)
      @media screen and (min-width widths.medium)
        sans(2.5rem)
      @media screen and (min-width widths.large)
        sans(3rem)

    // Filters

    [data-link-filters="author"]
      grid-area authors

    [data-link-filters="tag"]
      grid-area tags

    // Details

    [data-labeled-icon="lang"]
      grid-area lang

    [data-labeled-icon="published-date"]
      grid-area published-date

    [data-labeled-icon="updated-date"]
      grid-area updated-date

    // Color, size

    [data-link-filters]
      [data-link]:hover
        text-decoration underline

    [data-labeled-icon], [data-link-filters]
      sans(1.125rem)
      @media screen and (min-width widths.medium)
        sans(1.25rem)

    [data-link-filters="tag"], [data-labeled-icon="lang"]
      [data-link], p
        color rgb(51, 122, 183)

    [data-link-filters="author"] > [data-link]
      color rgb(160, 0, 0)

    [data-datetime]
      color rgb(255, 136, 0)
</style>
