---
import github from "@assets/brand-icons/github.svg";
import patreon from "@assets/brand-icons/patreon.svg";
import pinterest from "@assets/brand-icons/pinterest.svg";
import reddit from "@assets/brand-icons/reddit.svg";
import twitch from "@assets/brand-icons/twitch.svg";
import x from "@assets/brand-icons/x.svg";
import youtube from "@assets/brand-icons/youtube.svg";
import youtubegaming from "@assets/brand-icons/youtubegaming.svg";
import zenn from "@assets/brand-icons/zenn.svg";
import discord from "@assets/brand-icons/discord.svg";
import telegram from "@assets/brand-icons/telegram.svg";

import Icon from "@components/Icon.astro";
import Brand from "@components/Brand.astro";
import Link from "@components/Link.astro";
---

<footer>
  <article>
    <div class="pages-brand"><Brand /></div>
    <p class="description">Fast and simple design website.</p>
    <div class="socials">
      <Icon src={github.src} href="https://7rs.dev/gh" />
      <Icon src={pinterest.src} href="https://7rs.dev/p" />
      <Icon src={x.src} href="https://7rs.dev/x" />
      <Icon src={twitch.src} href="https://7rs.dev/ttv" />
      <Icon src={youtube.src} href="https://7rs.dev/yt" />
      <Icon src={youtubegaming.src} href="https://7rs.dev/yt2" />
      <Icon src={patreon.src} href="https://7rs.dev/patreon" />
      <Icon src={reddit.src} href="https://7rs.dev/r" />
      <Icon src={zenn.src} href="https://7rs.dev/z" />
      <Icon src={discord.src} href="https://7rs.dev/d" />
      <Icon src={telegram.src} href="https://7rs.dev/t" />
    </div>
    <div class="informations">
      <p>Pages is <a href="http://www.wtfpl.net/about/" target="_blank" rel="noopener noreferrer">open source</a>.</p>
      <p>©2023 by Cbrnex</p>
    </div>

    <h2 class="pages-label">Pages</h2>
    <div class="pages">
      <Link href="/" label="Main" current />
      <Link href="" label="Blog" current />
      <Link href="" label="Links" current />
    </div>

    <h2 class="resources-label">Resources</h2>
    <div class="resources">
      <Link href="https://7rs.dev/repo" label="GitHub" />
      <Link href="https://stackshare.io/7rs/pages" label="StackShare" />
      <Link href="https://github.com/7rs/pages/wiki" label="Documentation" />
      <Link href="https://zenn.dev/7rs/scraps/d31d814237ec1c" label="Scraps" />
      <Link href="https://github.com/7rs/pages/blob/main/LICENSE" label="License" />
    </div>
  </article>
</footer>

<style lang="stylus">
  @import "../styles/api.styl"

  article
    margin 1rem auto
    bottom 0
    display grid
    grid-template-areas \
        "brand  " \
        "desc   " \
        "socials" \
        "info   ";
    gap 1rem
    align-items center
    @media screen and (min-width widths.medium)
      gap 0.5rem
      grid-template-rows 1fr 0.5fr 2fr 1fr
      grid-template-columns auto 10rem
      grid-template-areas \
        "brand   pages-label" \
        "desc    pages      " \
        "socials pages      " \
        "info    pages      ";
    @media screen and (min-width widths.large)
      width 900px
      grid-template-rows 1.5fr 1fr 3fr 2fr
      grid-template-columns 2fr repeat(2, 1fr)
      grid-template-areas \
        "brand   pages-label res-label" \
        "desc    pages       res      " \
        "socials pages       res      " \
        "info    pages       res      ";
      gap 0.5rem 1rem

    .pages-brand
      grid-area brand
      margin auto 0

    .description
      grid-area desc
      sans(1rem, 1.5rem)

    .socials
      width 15rem
      grid-area socials
      display grid
      gap 1rem
      grid-template-columns repeat(5, 1fr)
      justify-self center
      @media screen and (min-width widths.medium)
        grid-template-columns repeat(6, 1fr)
        justify-self start

    .informations
      grid-area info
      text-align center
      @media screen and (min-width widths.medium)
        text-align start

    h2
      sans(1.5rem, 2rem)
      margin 0.5rem 0

    div > a
      sans(1.2rem, 1.5rem)
      hoverable(black)

    .pages-label, .pages, .resources-label, .resources
      display none

    .pages, .resources
      align-self start
      flex-direction column
      gap 0.7rem

    @media screen and (min-width widths.medium)
      .pages
        display flex
      .pages-label
        display block
      @media screen and (max-width widths.large - 1)
        .pages, .pages-label
          width 7rem
          justify-self end

    @media screen and (min-width widths.large)
      .resources
        display flex
      .resources-label
        display block

    .pages-label
      grid-area pages-label

    .pages
      grid-area pages

    .resources-label
      grid-area res-label

    .resources
      grid-area res
</style>
