---
import github from "@assets/brand-icons/github.svg";
import patreon from "@assets/brand-icons/patreon.svg";
import pinterest from "@assets/brand-icons/pinterest.svg";
import reddit from "@assets/brand-icons/reddit.svg";
import twitch from "@assets/brand-icons/twitch.svg";
import x from "@assets/brand-icons/x.svg";
import youtube from "@assets/brand-icons/youtube.svg";
import youtubegaming from "@assets/brand-icons/youtubegaming.svg";
import zenn from "@assets/brand-icons/zenn.svg";
import discord from "@assets/brand-icons/discord.svg";
import telegram from "@assets/brand-icons/telegram.svg";

import Icon from "@components/Icon.astro";
import Brand from "@components/Brand.astro";
import Link from "@components/Link.astro";

import "@styles/footer.styl"
---

<footer>
  <article class="footer">
    <div class="pages-brand"><Brand /></div>
    <p class="description">Fast and simple design website.</p>
    <div class="socials">
      <Icon src={github.src} href="https://7rs.dev/gh" />
      <Icon src={pinterest.src} href="https://7rs.dev/p" />
      <Icon src={x.src} href="https://7rs.dev/x" />
      <Icon src={twitch.src} href="https://7rs.dev/ttv" />
      <Icon src={youtube.src} href="https://7rs.dev/yt" />
      <Icon src={youtubegaming.src} href="https://7rs.dev/yt2" />
      <Icon src={patreon.src} href="https://7rs.dev/patreon" />
      <Icon src={reddit.src} href="https://7rs.dev/r" />
      <Icon src={zenn.src} href="https://7rs.dev/z" />
      <Icon src={discord.src} href="https://7rs.dev/d" />
      <Icon src={telegram.src} href="https://7rs.dev/t" />
    </div>
    <div class="informations">
      <p>Pages is <a href="http://www.wtfpl.net/about/" target="_blank" rel="noopener noreferrer">open source</a>.</p>
      <p>©2023 by Cbrnex</p>
    </div>

    <h2 class="pages-label">Pages</h2>
    <div class="pages">
      <Link href="/" label="Main" current />
      <Link href="" label="Blog" current />
      <Link href="" label="Links" current />
    </div>

    <h2 class="resources-label">Resources</h2>
    <div class="resources">
      <Link href="https://7rs.dev/repo" label="GitHub" />
      <Link href="https://stackshare.io/7rs/pages" label="StackShare" />
      <Link href="https://github.com/7rs/pages/wiki" label="Documentation" />
      <Link href="https://zenn.dev/7rs/scraps/d31d814237ec1c" label="Scraps" />
      <Link href="https://github.com/7rs/pages/blob/main/LICENSE" label="License" />
    </div>
  </article>
</footer>
