---
import youtube from "@assets/brand-icons/youtube.svg";
import twitter from "@assets/brand-icons/twitter.svg";
import pinterest from "@assets/brand-icons/pinterest.svg";
import telegram from "@assets/brand-icons/telegram.svg";
import discord from "@assets/brand-icons/discord.svg";

import Icon from "@components/Icon.astro";

export interface Props {
  icons?: string;
}

const { icons = "true" } = Astro.props;
let icons_class = "flex-row social-icons";
if (icons === "false") {
  icons_class = "hideen-icons";
}
---

<footer class="blur-background">
  <div class={icons_class}>
    <Icon
      classes="social-icon youtube"
      src={youtube.src}
      href="https://7rs.dev/yt"
      title="youtube"
      blank
    />
    <Icon
      classes="social-icon twitter"
      src={twitter.src}
      href="https://7rs.dev/x"
      title="twitter"
      blank
    />
    <Icon
      classes="social-icon pinterest"
      src={pinterest.src}
      href="https://7rs.dev/p"
      title="pinterest"
      blank
    />
    <Icon
      classes="social-icon telegram"
      src={telegram.src}
      href="https://7rs.dev/t"
      title="telegram"
      blank
    />
    <Icon
      classes="social-icon discord"
      src={discord.src}
      href="https://7rs.dev/d"
      title="discord"
      blank
    />
  </div>
  <a
    class="dark-text-hover mono-font copyright"
    href="https://7rs.dev/gh"
    title="github"
    target="_blank"
    rel="noopener noreferrer">© 2023 Cbrnex</a
  >
</footer>

<style lang="stylus">
  tablet-screen = 600px
  desktop-screen = 1024px

  .hideen-icons
    display none

  .social-icons
    height 2rem
    justify-content center
    // responsive
    gap 2rem
    @media (min-width tablet-screen)
      gap 6rem
    @media (min-width desktop-screen)
      gap 8rem

  mobile-text = 1.2rem
  tablet-text = 1.7rem
  desktop-text = 2rem
  .copyright
    display block
    text-decoration none
    text-align center
    // responsive
    font-size mobile-text
    line-height mobile-text
    margin-top 1.7rem
    @media (min-width tablet-screen)
      font-size tablet-text
      line-height tablet-text
      margin-top 3rem
    @media (min-width desktop-screen)
      font-size desktop-text
      line-height desktop-text
      margin-top 4rem
</style>
