---
import logo from "@assets/logo.svg"

import links from "@assets/icons/links.svg"
import blog from "@assets/icons/blog.svg"
import tech from "@assets/icons/tech.svg"
---

<header>
  <div class="flex-row box">
    <a style=`mask-image: url(${logo.src}); -webkit-mask-image: url(${logo.src})` class="static-icon" href="/" title="top"></a>
    <nav class="flex-row static-flex-gap">
      <a style=`mask-image: url(${links.src}); -webkit-mask-image: url(${links.src})` class="static-icon" href="/links" title="links"></a>
      <a style=`mask-image: url(${blog.src}); -webkit-mask-image: url(${blog.src})` class="static-icon" href="/blog" title="blog"></a>
      <a style=`mask-image: url(${tech.src}); -webkit-mask-image: url(${tech.src})` class="static-icon" href="https://7rs.dev/z" title="tech"></a>
    </nav>
  </div>
</header>

<style lang="stylus">
  header
    position fixed
    top 0
    left 0
    z-index 1
    width 100%
</style>
