---

import Head from "@layouts/Meta.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import logo from "@assets/logo.svg";
import "@styles/main.styl";
import { Metadata } from "@scripts/lib/meta";

const metadata: Metadata = {
  name: "Pages",
  description: "Fast and simple website.",
  image: logo.src,
  imageAlt: "Cbrnex Logo",
  authorName: "Cbrnex",
  authorAlternateName: "7rs",
  url: "https://7rs.dev/",
  keywords: [
    "Pages",
    "Cbrnex",
    "7rs",
    "Rynon",
    "卍",
    "卍SRSU",
    "Astro",
    "Stylus",
    "Svelte",
    "Cloudflare Pages",
    "FLOSS",
  ],
  twitterId: "@cbrnex",
};

type Frontmatter = {
  title: string;
  tags: Array<string>;
  url: string;
  [key: string]: any;
};

export interface Props {
  title: string;
  schemaMarkup?: string;
  frontmatter?: Frontmatter;
  programmingFonts?: boolean;
}

const { title, schemaMarkup, frontmatter, programmingFonts = false, ...props } = Astro.props;

const author = {
  "@type": "Person",
  name: metadata.authorName,
  alternateName: metadata.authorAlternateName,
  description: "Just a toxic.",
  image: "https://www.gravatar.com/avatar/1b6f182a11eba357a5b85085b74acccd",
  url: metadata.url,
  mainEntityOfPage: "https://github.com/7rs"
};

const defaultSchemaMarkup = JSON.stringify(
  frontmatter
    ? {
        "@context": "https://schema.org",
        "@type": "Article",
        headline: frontmatter.title,
        author: author,
      }
    : {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        mainEntity: author,
      },
);
---

<!doctype html>
<html lang="en">
  {
    frontmatter || programmingFonts
      ?
        <Head title={frontmatter?.title || title} favicon={logo.src} metadata={metadata} programmingFonts>
          <script type="application/ld+json" set:html={schemaMarkup || defaultSchemaMarkup} />
        </Head> 
      :
        <Head title={title} favicon={logo.src} metadata={metadata}>
          <script type="application/ld+json" set:html={schemaMarkup || defaultSchemaMarkup} />
        </Head>
  }
  <body>
    <Header transition:persist />
    <main {...props}><slot /></main>
    <Footer transition:persist />
  </body>
</html>
